.search{
    border-radius:5px;
    margin-top:25px;
    width:15%;
    background-color:lightgray;
    color:darkturquoise;
    border:solid 2px;
    border-color:darkturquoise;
}
.plus{
    border-radius:50%;
    margin:15px 10px;
    background-color:darkturquoise;
    color:white;
    border: solid 5px;
    border-color:darkturquoise;
}
.createacct{
    margin-top:10px;
    width:25%;
    height:15%;
    background-color:blue;
    color:white;
    border: solid 2px;
    box-shadow: 5px 2px 0px 0px black;
    border-color:black;
}